@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(fonts/roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PT_Serif";
  src: url(fonts/PT_Serif/PTSerif-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT_Serif";
  src: url(fonts/PT_Serif/PTSerif-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-size: 18px;
  line-height: 140%;
  color: #1F1E1E;
  font-weight: 400;
  font-family: "roboto", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-image: url(./pictures/safari.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  padding-top: 16px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 20px;
}

.logo__discr-regulag {
  color: #FFFFFF;
}

.logo__discr-bold {
  font-family: "PT_Serif", serif;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.navigation__contacts {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
}

.header__btn {
  font-size: 16px;
  color: #FFFFFF;
  background-color: #886239;
  padding: 12px 31px;
  border-radius: 22px;
  margin-left: 10px;
}

.menu {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 45px;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu__link {
  font-size: 16px;
  color: #FFFFFF;
}

.header__title {
  font-family: "PT_Serif", serif;
  font-weight: 700;
  font-size: calc(60px + 30 * ((100vw - 320px) / (1140 - 320)));
  text-align: center;
  flex-grow: 2;
  line-height: calc(50px + 50 * ((100vw - 320px) / (1140 - 320)));
}

.header__description {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.arrow {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.section__countries {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cintainer__countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  
}

.countries__item {
  border: 1px solid #D9D9DE;
}

.countainer__title {
  font-size: 16px;
  padding: 7px 20px 15px 20px;
  text-align: center;
  line-height: 18px;
}

.directions {
  background-image: url(./pictures/back_desc.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.directions__title {
  padding-top: 43px;
  padding-bottom: 57px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.directions__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 70px;
  gap: 60px 50px;
}

.directions__links {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
}

.directions__text {
  margin-top: 10px;
}

.popular__title {
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.popular__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #D9D9DE;
  margin-bottom: 100px;
}

.popular__item:nth-child(3),
.popular__item:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__item {
  padding: 20px;
  color: #FFFFFF;
  min-height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popular__descr {
  margin-top: auto;
}

.popular__text {
  margin-bottom: 20px;
}

